
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

nav {

  width: 100%;
  height: 70px;
  display: flex;
  position: fixed;
  justify-content: center;
  background-color: darkcyan;
}

nav > div {
  padding: 0 30px;
  cursor: pointer;
  color: #fff;
  transition: all 0.5s;
 
  line-height: 70px;
}

nav > div:hover {
  background-color: #0002;
}

.content {
  padding-top: 100px;
  margin-left: 200px;
  
}

.row {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.column {
  display: flex;
  width: calc(20% - 30px);
  padding: 15px;
  flex-direction: column;
}

.column p {
  margin-top: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.column h5 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
}
.latest {
  margin-bottom:30px ;
  margin-top: 20px;
  padding: 15px;
  width: 30%;
  height: 40%;
  background-color: gray;
  border-radius: 1px
}
.latest p {
  margin-top: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5; /* number of lines to show */
  -webkit-box-orient: vertical;
}
.latest img {
  width: 100%;
  height: 300px;
}
form {
  text-align: center;
  margin-top: 10px;
}
.searchbox {
  width: 50%;
  height: 30px;
  padding-left: 15px;
  border-color: darkcyan;
  border-radius: 5px;
  margin-right: 5px;
}
.btn {
  height: 30px;
  border-radius: 3px;
  background-color:rgb(220, 240, 240);
}
.header{
  /* position: fixed; */
  
}
.title{
  padding-top: 10px;
  padding-bottom:15px;
}
